@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 96%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --primary: 243 75% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 220 14% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 220 14% 93%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 243 75% 58%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
  }
}
